.div_bg_møm {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      45deg,
      #cadeed,
      #91aec4 15%,
      #194569 20%
    ),
    repeating-conic-gradient(#91aec4 0%, #cadeed 15%, #194569 33%), #dbecf4;

  background-blend-mode: multiply;
  background-size: 6em 6em;
  background-position: 0 4em, 0.5em 0.5em;
  opacity: 80%;
  position: var(--isc-p-rel);
}

section.section_møm {
  font-family: 'Aladin', system-ui;
  font-weight: 400;
  font-style: normal;
  width: 800px;
  height: 800px;
  flex-direction: var(--isc-dc);
  justify-content: var(--isc-jc-fs);
  color: var(--isc-hp-color5);
  background-color: var(--isc-lp-color1);
  gap: var(--isc-gap-xl);
  position: var(--isc-p-rel);
}

.div_rules {
  width: 600px;
  flex-direction: var(--isc-dc);
  position: var(--isc-p-abs);
  top: 50%;
  left: 50%;
  background: var(--isc-bg-hm-1);
  border: var(--isc-b-hm);
  transform: translate(-50%, -50%);
  border-radius: var(--isc-br-s);
  padding: var(--isc-padding-l);
  gap: var(--isc-gap-m);
  z-index: 2;
}

.div_rules p {
  width: 80%;
  font-size: var(--isc-fs-m);
}

.btn_accept {
  width: 100px;
  padding: var(--isc-padding-s);
  border: var(--isc-b-hm);
  border-radius: var(--isc-br-s);
  cursor: pointer;
}

.btn_accept > p {
  text-align: center;
}

.btn_accept:hover {
  transform: scale(1.1);
}

.btn_accept:active {
  transform: scale(1);
}

div.div_data_møm {
  flex-direction: var(--isc-dc);
  width: 400px;
  height: 300px;
  background: linear-gradient(
    to right,
    #616060 0%,
    #8f8d8f 28%,
    #8a878a 72%,
    #616060 97%,
    #616060 100%
  );
  border: var(--isc-b-hm);
  position: var(--isc-p-abs);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  border-radius: var(--isc-br-s);
  z-index: 2;
}

.close_profile {
  font-size: var(--isc-fs-l);
  color: var(--isc-hm-color5);
  position: var(--isc-p-abs);
  top: 0;
  right: 10px;
  padding: var(--isc-padding-xs);
  cursor: pointer;
}

div.div_data_møm > p {
  font-size: var(--isc-fs-m);
}

.container_img {
  margin-top: var(--isc-margin-l);
  overflow: hidden;
  width: 320px;
  height: 100px;
  z-index: 3;
}

.container_img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: clip-path 5s ease;
  clip-path: inset(0 100% 0 0);
}

img.unsheathe {
  clip-path: inset(0 0 0 0);
}

.overlay {
  width: 100%;
  height: 100%;
  position: var(--isc-p-fix);
  top: 0;
  left: 0;
  background-color: var(--isc-overlay-color);
  z-index: 1;
}

.div_questions {
  flex-direction: var(--isc-dc);
  width: 700px;
  height: 300px;
  border: var(--isc-b-hm);
  background: var(--isc-bg-hm-1);
  border-radius: var(--isc-br-xs);
  position: var(--isc-p-rel);
}

.question_title {
  font-size: var(--isc-fs-l);
  text-align: center;
  margin-bottom: var(--isc-margin-m);
}

div.div_answers {
  flex-direction: var(--isc-dc);
  align-items: var(--isc-ai-fs);
  align-self: flex-start;
  margin-left: var(--isc-margin-special);
  gap: var(--isc-gap-l);
}

.answer {
  flex-direction: var(--isc-dc);
  align-items: var(--isc-ai-fs);
  gap: var(--isc-gap-s);
  font-size: var(--isc-fs-m);
}

.cursor {
  position: var(--isc-p-abs);
  left: 30px;
}

.div_control {
  width: 50%;
  gap: var(--isc-gap-m);
}

.div_finish,
.div_restart {
  width: 100px;
  background: var(--isc-bg-hm-1);
  border: var(--isc-b-hm);
  border-radius: var(--isc-br-s);
  cursor: pointer;
}

.div_finish > p,
.div_restart > p {
  padding: var(--isc-padding-s);
  font-size: var(--isc-fs-m);
}

.div_finish:hover,
.div_restart:hover {
  transform: scale(1.1);
}

.div_finish:active,
.div_restart:active {
  transform: scale(0.9);
}

.final_message {
  width: 300px;
  height: 200px;
  flex-direction: var(--isc-dc);
  background: var(--isc-bg-hm-1);
  border: var(--isc-b-hm);
  border-radius: var(--isc-br-s);
  position: var(--isc-p-abs);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--isc-br-s);
  z-index: 2;
}

.final_message > p {
  font-size: var(--isc-fs-m);
}

.completed {
  width: 350px;
  height: 600px;
}

.title_completed {
  text-align: center;
  margin-top: var(--isc-margin-l);
}

@media screen and (min-width: 360px) {
  section.section_møm {
    width: 100vw;
    height: 100vh;
  }

  section.section_møm {
    width: 100vw;
    height: 100vh;
  }

  .div_rules {
    width: 90%;
  }

  .div_rules p {
    width: 90%;
  }

  div.div_data_møm {
    width: 90%;
  }

  .div_questions {
    width: 90%;
    height: 50%;
  }

  .question_title {
    font-size: var(--isc-fs-m);
  }

  div.div_answers {
    width: 80%;
    margin-left: var(--isc-margin-xl);
  }

  .answer {
    position: var(--isc-p-rel);
    margin-left: var(--isc-margin-s);
  }

  .cursor {
    top: 8px;
    left: -50px;
  }

  .cursor > img {
    width: 80%;
  }

  .title_completed {
    width: 90%;
  }
}
