div.div_form {
  flex-direction: var(--isc-dc);
  height: 90px;
  gap: var(--isc-gap-xs);
}

.div_form > input {
  font-size: var(--isc-fs-m);
  padding: var(--isc-padding-s);
  border-radius: var(--isc-br-s);
  border: var(--isc-b-input-sign);
  outline: none;
}

.div_form > input:focus {
  border: var(--isc-b-input-signF);
}

.span_error {
  display: none;
  color: var(--isc-fc-span-error);
  letter-spacing: 5px;
  font-weight: 600;
}

.span_err_match_pwd {
  display: block;
}
