div.div_form {
  flex-direction: var(--isc-fdc);
  height: 80px;
  gap: var(--isc-gap-m);
}

.div_form > input {
  font-size: var(--isc-fs-m);
  padding: var(--isc-padding-s);
  border-radius: var(--isc-br-s);
  border: 4px solid var(--isc-lp-color3);
}
