body {
  width: 100%;
  height: 100vh;
  background-color: var(--isc-bg-lp);
  display: var(--isc-d-flex);
  justify-content: var(--isc-jc-center);
  align-items: var(--isc-ai-center);
}

.background {
  width: 400px;
  height: 500px;
  position: var(--isc-p-rel);
}

.background .circle,
.circle:last-child:before {
  position: var(--isc-p-abs);
  border-radius: var(--isc-br-xl);
}

.circle:first-child {
  width: 250px;
  height: 250px;
  background: linear-gradient(var(--isc-bg-circle1));
  top: -80px;
  right: -120px;
}

.circle:last-child {
  width: 200px;
  height: 200px;
  background: linear-gradient(to left, var(--isc-bg-circle2));
  left: -80px;
  top: 150px;
}

.circle:last-child:before {
  content: '';
  width: 100px;
  height: 100px;
  position: var(--isc-p-abs);
  background: linear-gradient(to top, var(--isc-bg-circle3));
  right: -300px;
  bottom: -150px;
}

form {
  width: 380px;
  height: 600px;
  position: var(--isc-p-abs);
  background-color: var(--isc-bg-form);
  border-radius: var(--isc-br-s);
  border: var(--isc-b-form);
  box-shadow: var(--isc-bs-form);
  backdrop-filter: blur(15px);
  padding: var(--isc-padding-m);
  text-align: center;
  color: var(--isc-fc-form);
}
