@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Arbutus&family=Bubblegum+Sans&family=Bungee+Shade&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  /* Landing pages*/
  --isc-lp-color1: #4d4d4d;
  --isc-lp-color2: #d7ff60;
  --isc-lp-color3: #9fc52e;
  --isc-lp-color4: #e74d3c;
  --isc-lp-color5: #cf2d1b;
  --isc-lp-color6: #0f52ba;
  --isc-lp-color7: #73c2fb;
  --isc-lp-color8: #ffffff21;
  --isc-lp-color9: #ffffff1a;
  --isc-lp-color10: #08071099;

  --isc-bg-lp: var(--isc-lp-color1);
  --isc-bg-circle1: var(--isc-lp-color2), var(--isc-lp-color3);
  --isc-bg-circle2: var(--isc-lp-color4), var(--isc-lp-color5);
  --isc-bg-circle3: var(--isc-lp-color6), var(--isc-lp-color7);

  --isc-b-input-sign: 4px solid var(--isc-lp-color7);
  --isc-b-input-signF: 4px solid var(--isc-lp-color6);

  --isc-bg-form: var(--isc-lp-color8);
  --isc-b-form: 2px solid var(--isc-lp-color9);
  --isc-bs-form: 0 0 40px var(--isc-lp-color10);
  --isc-fc-form: var(--isc-hp-color5);
  --isc-fc-span-error: var(--isc-lp-color7);
  --isc-bc-sticker1: var(--isc-lp-color3);
  --isc-bc-sticker2: var(--isc-lp-color4);
  --isc-bc-sticker3: var(--isc-lp-color7);
  --isc-bc-sticker4: var(--isc-hp-color5);

  --isc-b-button-sign: 2px solid var(--isc-lp-color6);
  --isc-bg-button-sign: var(--isc-lp-color7);
  --isc-fc-pLogin: var(--isc-hp-color4);

  --isc-fc-pSign: ;

  /* Home page */
  --isc-hp-color1: #654b38;
  --isc-hp-color2: #6b5b51;
  --isc-hp-color3: #9e9a9a;
  --isc-hp-color4: #eeecda;
  --isc-hp-color5: #fafbfa;
  --isc-hp-color6: #fcd19c;
  --isc-hp-color7: #fc9cb9;
  --isc-hp-color8: #e4ccff;
  --isc-hp-color9: #9747ff;

  --isc-bg-btn-tictactoe: var(--isc-hp-color6);
  --isc-bg-btn-gmoworld: var(--isc-hp-color7);
  --isc-bg-btn-møm: var(--isc-hp-color8);
  --isc-bg-btn-info: var(--isc-hp-color9);

  --isc-bs-btn-games: 0 1px 5px;
  --isc-bs-btn-ttt: var(--isc-bs-btn-games) var(--isc-bg-btn-tictactoe);
  --isc-bs-btn-gw: var(--isc-bs-btn-games) var(--isc-bg-btn-gmoworld);
  --isc-bs-btn-møm: var(--isc-bs-btn-games) var(--isc-bg-btn-møm);

  --isc-bg-modal-info: var(--isc-hp-color2);

  /* Home Tic tac toe */
  --isc-ht-color1: #fcf5c7;
  --isc-ht-color2: #ffee93;
  --isc-ht-color3: #ffc09f;
  --isc-ht-color4: #adf7b6;
  --isc-ht-color5: #a0cdd9;

  /* FONTS */

  --isc-fs-s: 16px;
  --isc-fs-m: 24px;
  --isc-fs-l: 36px;
  --isc-fs-xl: 44px;

  --isc-fw-1: 600;

  /* SPACINGS */
  --isc-margin-xs: 5px;
  --isc-margin-s: 10px;
  --isc-margin-m: 20px;
  --isc-margin-l: 30px;
  --isc-margin-xl: 50px;

  --isc-padding-xs: 5px;
  --isc-padding-s: 10px;
  --isc-padding-m: 20px;
  --isc-padding-l: 30px;
  --isc-padding-xl: 50px;

  --isc-gap-xs: 5px;
  --isc-gap-s: 10px;
  --isc-gap-m: 20px;
  --isc-gap-l: 30px;
  --isc-gap-xl: 50px;

  /* display */
  --isc-d-flex: flex;

  /* position */
  --isc-p-abs: absolute;
  --isc-p-rel: relative;
  --isc-p-fix: fixed;

  /* flex properties */
  --isc-jc-center: center;
  --isc-jc-sb: space-between;
  --isc-jc-se: space-evenly;
  --isc-jc-fs: flex-start;

  --isc-ai-center: center;

  --isc-dc: column;

  /* border */
  /* border radius */
  --isc-br-s: 20px;

  --isc-br-xl: 50%;

  /* box shadow */
}

body {
  display: var(--isc-d-flex);
  flex-direction: var(--isc-dc);
  justify-content: var(--isc-jc-center);
  align-items: var(--isc-ai-center);
  width: 100%;
  height: 100vh;
}

.flex_container {
  display: var(--isc-d-flex);
  justify-content: var(--isc-jc-center);
  align-items: var(--isc-ai-center);
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  place-items: center;
}
