.div_sticker {
  width: 70px;
  height: 70px;
  border-radius: var(--isc-br-xl);
  border-style: solid;
  border-width: 2px;
  padding: var(--isc-padding-s);
}

.div_sticker:first-child {
  border-color: var(--isc-bc-sticker1);
}

.div_sticker:nth-child(2) {
  border-color: var(--isc-bc-sticker2);
}

.div_sticker:nth-child(3) {
  border-color: var(--isc-bc-sticker3);
}

.div_sticker:last-child {
  border-color: var(--isc-bc-sticker4);
}

.div_sticker:hover {
  transform: scale(1.1);
}

.div_sticker > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form > h2 {
  font-size: var(--isc-fs-l);
  text-align: center;
  margin-bottom: var(--isc-margin-s);
}

form > h3 {
  margin-top: var(--isc-margin-m);
  margin-bottom: var(--isc-margin-s);
}

div.div_stickers {
  justify-content: var(--isc-jc-sb);
}

.signUp {
  margin: var(--isc-margin-m);
  padding: var(--isc-padding-s) var(--isc-padding-m);
  font-size: var(--isc-fs-m);
  border-radius: var(--isc-br-s);
  border: var(--isc-b-button-sign);
  background-color: var(--isc-bg-button-sign);
}

.signUp:hover {
  transform: scale(1.1);
}

div.div_foot_sign {
  gap: var(--isc-gap-m);
}

.p_login {
  color: var(--isc-fc-pLogin);
}

.input_check {
  position: relative;
  width: 80px;
  height: 80px;
  opacity: 0;
}

.label_check {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  cursor: pointer;
  z-index: -1;
}

#bee {
  background-image: url('public/assets/abeja.png');
}

#cherry {
  background-image: url('public/assets/cherries.png');
}

#flamingo {
  background-image: url('public/assets/flamingo.png');
}

#flower {
  background-image: url('public/assets/nasturtium.png');
}

.inputCheck:checked + .label {
  transform: scale(1.3);
}
