body {
  font-family: 'Bungee Shade', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--isc-hp-color1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div_bg_home {
  width: 100%;
  height: 100%;
  background: repeating-radial-gradient(
      circle at 50% 0,
      transparent,
      transparent 4em,
      transparent 4em,
      #eeecda 5em
    ),
    #fff8e7;

  background-blend-mode: multiply;
  background-size: 5em 5em;
  background-position: 0 4em;
  position: var(--isc-p-rel);
}

.section_containerHome {
  flex-direction: var(--isc-dc);
  position: var(--isc-p-abs);
  width: 700px;
  height: 800px;
  border: 1px solid red;
}

h2 {
  font-size: var(--isc-fs-xl);
}

.div_h3_trilogy {
}

h3 {
  font-size: var(--isc-fs-l);
  margin-bottom: var(--isc-margin-l);
  animation: changeColor 1s infinite;
}

@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  40% {
    filter: hue-rotate(60deg);
  }
  80% {
    filter: hue-rotate(120deg);
  }
  100% {
    filter: hue-rotate(250deg);
  }
}

section.section_Ttt,
section.section_Gw,
section.section_Møm {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.section_Ttt > img,
.section_Gw > img,
.section_Møm > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.section_Ttt {
  padding: var(--isc-padding-l);
  background-color: var(--isc-bg-btn-tictactoe);
  box-shadow: var(--isc-bs-btn-ttt);
}

.section_Gw {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  padding: var(--isc-padding-s);
  background-color: var(--isc-bg-btn-gmoworld);
  box-shadow: var(--isc-bs-btn-gw);
}

.section_Møm {
  padding: var(--isc-padding-m);
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  background-color: var(--isc-bg-btn-møm);
  box-shadow: var(--isc-bs-btn-møm);
}

/* Menu component */

.container_menu {
  width: 200px;
  height: 200px;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid red;
}

.base_menu {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  position: absolute;
  bottom: -100px;
  right: -100px;
  opacity: 0;
  transition: opacity 0.4s;
  border: 1px solid red;
}

.menu_btn {
  width: 100px;
  height: 100px;
  background-color: #ee82ee;
  border-radius: 50%;
  bottom: -20px;
  right: -20px;
  position: absolute;
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.menu_btn > p {
  position: absolute;
  top: 35px;
  left: 15px;
  font-weight: 600;
}

.ttt_btn,
.gw_btn,
.møm_btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition-delay: 0s;
}

.ttt_btn {
  background-color: green;
  position: absolute;
  bottom: 80px;
  transition-delay: 300ms;
}

.gw_btn {
  background-color: red;
  position: absolute;
  top: 25px;
  left: 25px;
  transition-delay: 600ms;
}

.møm_btn {
  background-color: blue;
  right: 80px;
  transition-delay: 900ms;
}

.ttt_btn:hover,
.gw_btn:hover,
.møm_btn:hover {
  transform: scale(1.1);
}

.ttt_btn:active,
.gw_btn:active,
.møm_btn:active {
  opacity: 0.9;
}

.ttt_btn:hover {
  color: white;
  font-weight: 600;
}

.gw_btn:hover {
  color: white;
  font-weight: 600;
}

.møm_btn:hover {
  color: white;
  font-weight: 600;
}

.active .menu_btn {
  transform: scale(0.8);
  color: white;
}

.active .base_menu {
  opacity: 100%;
  bottom: -50px;
  right: -50px;
}

.active .ttt_btn,
.active .gw_btn,
.active .møm_btn {
  opacity: 100%;
}

.active .ttt_btn {
}

.active .gw_btn {
}

.active .møm_btn {
}
